<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title> AirBnB</title>

    <!--Link Bootrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!--Link Font Awsome-->
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        
            
        <nav class="navbar navbar-dark bg-dark">
            <a href="/" class="navbar-brand"><i class="fab fa-airbnb fa-2x"></i>AirBnB</a>
            <a href="/registration">Registration</a>
            <a href="/room-list">Room List</a>

        </nav>

        
    </header>
    <div>
            
        
    </div>

    <main>
        {{{body}}}
    </main>
    <footer>
        this is footer
    </footer>
</body>

</html>