<section class="roomList">
    <div class="room">
        <ul class="roomPicture">
            <li class="roomName">Room Type 1</li>
            <li class="grey"><img src="/room1.jpg" alt="Room Type 1"></li>
            <li class="grey"><a href="/registration" class="btn btn-outline-info">More Info...</a></li>
        </ul>
    </div>

    <div class="room">
        <ul class="roomPicture">
            <li class="roomName">Room Type 2</li>
            <li class="grey"><img src="/room2.jpg" alt="Room Type 1"></li>
            <li class="grey"><a href="/registration" class="btn btn-outline-info">More Info...</a></li>
        </ul>
    </div>
    <div class="room">
        <ul class="roomPicture">
            <li class="roomName">Room Type 3</li>
            <li class="grey"><img src="/room3.jpg" alt="Room Type 1"></li>
            <li class="grey"><a href="/registration" class="btn btn-outline-info">More Info...</a></li>
        </ul>
    </div>
    <div class="room">
        <ul class="roomPicture">
            <li class="roomName">Room Type 4</li>
            <li class="grey"><img src="/room4.jpg" alt="Room Type 1"></li>
            <li class="grey"><a href="/registration" class="btn btn-outline-info">More Info...</a></li>
        </ul>
    </div>
    <div class="room">
        <ul class="roomPicture">
            <li class="roomName">Room Type 5</li>
            <li class="grey"><img src="/room5.jpg" alt="Room Type 1"></li>
            <li class="grey"><a href="/registration" class="btn btn-outline-info">More Info...</a></li>
        </ul>
    </div>
    <div class="room">
        <ul class="roomPicture">
            <li class="roomName">Room Type 6</li>
            <li class="grey"><img src="/room6.jpg" alt="Room Type 1"></li>
            <li class="grey"><a href="/registration" class="btn btn-outline-info">More Info...</a></li>
        </ul>
    </div>
</section>